<nav class="navbar navbar-expand-sm navbar-dark bg-secondary d-flex justify-content-between">
    <a class="navbar-brand" href="#">INVOICE GENERATOR</a>
  
</nav>
<form #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-secondary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name">khaoula test</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                                        [(ngModel)]="invoice.customerName" #CustName="ngModel" >
                                </div>
                              
                            </div>
                           
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF('download') : ''">Download Invoice</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF('print') : ''">Print
                    Invoice</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF() : ''">Open
                    Invoice</button>
            </div>
        </div>
    </div>
</form>
